@import 'full';

@include fullStyles;

#pdfjs_viewer-minimal {
  div.toolbar { display: none; }

  #scaleSelectContainer { display: none; }
  #secondaryToolbarToggle { display: none; }

  #toolbarViewerLeft { display: none; }
  #toolbarViewerRight { display: none; }

  #viewFind { display: none; }

  #viewAttachments { display: none; }

  #viewerContainer, #mainContainer {
    background-color: white;
    top: 0px;
  }

  #toolbarContainer {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  body {
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}